body {
background-color: #0d1a2d;
color: #8eacd8;
}

.text-gray {
color: #8eacd8;
}

.form,
.message {
box-shadow: 0 0 60px 0 #000;
}

.form-control::placeholder {
color: #8eacd8;
opacity: 1;
}

.alert-warning {
position: absolute;
bottom: 0;
right: 2rem;
}